.custom-file-label::after {
  display:none;
}

.custom-file.custom-file-mp {
  position: relative;
  .clear-file {
    position: absolute;
    top:0;
    right:0;
    z-index: 100;
    height: 38px;
    width: 45px;
    display: block;
  }
}

.cropper-wrapper {

  &.cropper-preview {
    .custom-file-label {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .file-image-preview {
      position:relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 240px;
      padding: 5px;
      border: 1px solid $input-border-color;
      border-top:0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background: $gray-100;
      > img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .crop-btn-edit, .crop-edit-toolbar {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .crop-button {
    background: transparent;
    border: 1px solid $gray-200;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: .375rem 0;
    &:hover {
      border-color: $gray-700;
      background: white;
    }
    > img {
      width: 22px;
      height: 22px;
    }
  }

  &.cropper-editing {
    .crop-edit {
      position: relative;
      margin: 10px 0;
      background-image: url("../assets/bg.png");
      background-repeat: repeat;
      border: 1px solid #2d83dc;

      .crop-edit-toolbar {
        .btn {
          background: $gray-100;
          border-color:$gray-400;
          margin-left: .5rem;
          &:hover {
            background: white;
            border-color:$gray-700;
          }
        }
      }
    }

  }

  &.cropper-mode-avatar {
    .file-image-preview > img {
      border-radius: 50%;
      border:1px solid $gray-400;
    }

    &.cropper-editing {
      .cropper-face, .cropper-view-box {
        border-radius: 50%;
      }
      .cropper-view-box {
        border: 2px solid #39f;
      }
    }
  }

}
